<h2>Update Your Progress</h2>
<h3><i><%= @standard.description %></i></h3>
<%= form_for [@standard, @student_standard] do |f| %>
    <%= f.hidden_field :standard_id %>
    <h4>Which of the following best describes your current progress with this skill or concept?</h4>
        <%= f.select :progress_level, StudentStandard.progress_levels.keys %>
    <h4>Comments: (optional)</h4>
        <%= f.text_area :comments %>
    <h4>What projects, labs, tests, etc. are good examples of what you've learned? (optional)</h4>
        <%= f.text_area :evidence %> <br>
    <%= f.submit "Save Progress" %>
<% end %>

<!--I have a good understanding of supporting analysis of what the text says explicitly; I'm still working on supporting inferences.
Extended paragraph on Ponyboy from The Outsiders. 
 -->