<td>
  <%= link_to user.name, user_path(user) %>
</td>
<td>
  <%= user.email %>
</td>
<td>
<% if policy(user).update? %>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit "Change Role"%>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user %>
</td>
<% end %>