<h1>Edit <%=@section.title %></h1>
<p>Check the box if the text is a standard you would like to add to this section.</p>
<%= form_for @section do |f| %>
    <% @standards.each_with_index do |description, index| %>
    <%= check_box_tag "section[standards_attributes][#{index}][description]", description %> 
    <%= label_tag "section[standards_attributes][#{index}][description]", description %><br>
    <% end %>
    <br>
<%= f.submit %>
<% end %>