<h1>Add Standards to "<%=@section.title %>", <%=@subject.title %></h1>
<p class="page-links">
    <%= link_to "Back to Subject Page", subject_path(@subject) %>
</p>

<%= render layout: "shared/errors", locals: {object: @section, path: edit_section_path(@section)} do %>
    <% if @new_standards.empty? %>
        <h3><i>All available standards have been added.</i></h3>
    <% else %>
        <%= render partial: 'subjects/add_standards', locals: {subject: @subject, new_standards: @new_standards, object: @section} %>
    <% end %>
<% end %>