<h2>Edit "<%= @section.title %>" Section </h2>

<%= render partial: "layouts/errors", locals: {object: @section} %>
<%= render partial: "form", locals: {subject: @subject, section: @section} %>
<br>
<%= button_to "Delete Section", section_path(@section), method: 'delete' %>
<%= link_to "Cancel", section_path(@section) %>