<h1><%= @section.title %></h1>
<% if policy(@student_subject).show? %>
    <p><i><%= link_to "Back to all sections", student_subject_path(@student_subject) %></i></p>
<% else %>
    <h3>Student: <%= student_subject_email(@student_subject) %></h3>
    <p><i><%= link_to "Back to student's subjects", user_path(@student_subject.user) %></i></p>
<% end %>

<%= render partial: "display_student_standards", locals: {student_standards: @student_standards} %>
