<h1><%= @section.title %></h1>
<!--<h3>ADMIN</h3>
<p><%= link_to "Edit", edit_subject_section_path(@section.subject, @section)%> / <%= link_to "Back to all sections", subject_path(@section.subject) %></p>
-->
<%= render partial: "display_student_standards", locals: {subheadings: @subheadings, sorted_standards: @sorted_standards} %>


 <br> <br> 

--ADMIN--
<%= form_for @standard do |f| %>
    <%= f.label :subheading %> <br>
    <%= f.text_field :subheading %> <br>
    <%= f.label :description %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label :dot_notation %> <br>
    <%= f.text_field :dot_notation %> <br>
    <%= f.hidden_field :section_id %> 
    <%= f.submit "Add Standard" %>
<% end %>
----