<h2><%= @section.title %></h2>
<p><%= link_to "Edit", edit_subject_section_path(@section.subject, @section)%> / <%= link_to "Back to all sections", subject_path(@section.subject) %></p>

<% current_user.standards.each do |stu_stand| %>
   <%= stu_stand.description %>
<% end %>

<br> 
<table>
    <tr>
        <th>Standard</th>
        <th>How I'm feeling</th>
        <th>Comments</th>
        <th>Evidence</th>
        <th>Edit</th>
    </tr>
    <% @section.standards.each do |standard| %>
        <% if standard.id != nil %>
        <tr>
            <td><%= standard.description %> </td>
            <td>Progress Level</td>
            <td> Comments </td>
            <td> Evidence </td>
            <td> <%= link_to "Edit", new_standard_student_standard_path(standard) %></td>
        </tr>
        <% end %>
    <% end %>
 </table> <br>

--ADMIN--
<%= form_for @standard do |f| %>
    <%= f.label :description %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label :dot_notation %> <br>
    <%= f.text_field :dot_notation %> <br>
    <%= f.hidden_field :section_id %> 
    <%= f.submit "Add Standard" %>
<% end %>
----