<h1><%= @section.title %></h1>
<!--<h3>ADMIN</h3>
<p><%= link_to "Edit", edit_subject_section_path(@section.subject, @section)%> / <%= link_to "Back to all sections", subject_path(@section.subject) %></p>
-->

<%= render partial: "display_student_standards", locals: {subheadings: @subheadings, sorted_standards: @sorted_standards} %>

 <br> <br> 

--ADMIN--
<%= link_to "Show section's Standards", section_standards_path(@section) %>
----

