 <h1>Your Subjects</h1>

<%= render partial: "layouts/errors", locals: {object: @student_subject} %>

<% if @subjects %>
    <%= form_for @student_subject do |f| %>
        <%= f.select :subject_id, @subjects.map {|s| [s.title, s.id] }, include_blank: true %>
        <%= f.submit "Add Subject"%>
    <% end %>
<% else %>
    <%= button_to "Ok!", root_path, method: 'get' %>
    <br>
<% end %>
<br>

<% user_subjects.each do |ss| %>
    <%= link_to student_subject_title(ss), student_subject_path(ss) %>
    <br> <br>
<% end %>