<h2><%= student_subject_title(@student_subject) %></h2>
<p class="page-links">
<% if @student_subject.user == current_user %>
    <%= link_to "Back to All Subjects", student_subjects_path %> 
<% else %>
    <%= link_to "Back to Student's Subjects", user_path(@student_subject.user) %> 
<% end %>
    | <%= link_to "View Standards by Progress Level", student_subject_student_standards_path(@student_subject) %>
</p>

<ul>
    <% student_subject_sections(@student_subject).each do |section| %>
        <li><%= link_to section.title, student_subject_section_path(@student_subject, section) %> </li> <br>
    <% end %>
</ul>