<% if subject.errors.any? %>
    <div id="error_explanation">
        <% subject.errors.full_messages.each do |msg| %>
            <p> <i><b><%= msg %></i></b> </p>
        <% end %>
    </div>
<% end %>

<%= form_for(subject) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>