
        <fieldset>
        <div class="instructions">
        <legend><b>Subject Title</b></legend>
        <%= f.label :title, "What would you like to name this subject?" %>
        </div>
        <%= f.text_field :title %>
        
        <br> <br>
        
        <div class="instructions">
            <%= yield %>
        </div>
            <%= f.fields_for :sections do |section_form| %>
            <p>
                <%= section_form.label :title %>
                <%= section_form.text_field :title %>
                <%= section_form.hidden_field :id %>
                <%= section_form.hidden_field :subject_id %>
            </p>
            <% end %>
        <%= f.submit %>
        </fieldset>
        <br>
        
