
        <fieldset>
        <legend>Subject Title</legend>
        <%= f.label :title, "What would you like to name this subject?" %>
        <%= f.text_field :title %>
        </fieldset>
        <br>
        <fieldset>
            <legend>Sections</legend>
            <%= f.fields_for :sections do |section_form| %>
            <p>
                <%= section_form.label :title %>
                <%= section_form.text_field :title %>
            </p>
            <% end %>
        </fieldset>
        <br>
        <%= f.submit %>
