
        <fieldset>
        <legend><b>Subject Title</b></legend>
        <%= f.label :title, "What would you like to name this subject?" %>
        <%= f.text_field :title %>
        </fieldset>
        <br>
        <fieldset>
            <%= yield %>
            <%= f.fields_for :sections do |section_form| %>
            <p>
                <%= section_form.label :title %>
                <%= section_form.text_field :title %>
                <%= section_form.hidden_field :id %>
                <%= section_form.hidden_field :subject_id %>
            </p>
            <% end %>
        </fieldset>
        <br>
        <%= f.submit %>
