<%= form_for subject do |f| %>
        <%= f.select :set_id, options_for_select(subjects_array), prompt: "Choose Subject" %> <br> <br>
        <fieldset>
        <legend>Subject Title</legend>
        <%= f.label :title, "What would you like to name this subject?" %>
        <%= f.text_field :title %>
        </fieldset>
        <br>
        <fieldset>
            <legend>Add Sections</legend>
            <%= f.fields_for :sections do |section_form| %>
            <p>
                <%= section_form.label :title %>
                <%= section_form.text_field :title %>
            </p>
            <% end %>
        </fieldset>
        <br>
        <%= f.submit "Create Subject" %>
<% end %>