<h1>Edit <%= @subject.title %></h1>

<i><%= link_to "Cancel", subject_path(@subject) %></i>

    <% if policy(@subject).destroy? %>
        <i> | <%= link_to "Delete", subject_path, :data => { :confirm => "Are you sure you want to delete #{@subject.title}? This action cannot be undone." }, method: "delete", class: "delete" %></i>
    <% end %>
    <p id="flash_alert"> <%= subject_being_used_alert(@subject)%> </p>
 <br>

<%= render partial: "layouts/errors", locals: {object: @subject} %>

<% if @subject.errors.any? %>
    <%=link_to "OK", edit_subject_path(@subject)%>
<% else %>
    <%= form_for @subject do |f| %>
        <%= render layout: "subjects/form", locals: {f: f} do %>
            <legend><b>Edit Sections</b></legend>
            <b>*Note: Removing a section will also remove all associated standards. Any student progress associated with these standards will be deleted.</b>
        <% end %>
    <% end %>
<%end%>
