<h1>Edit <%= @subject.title %></h1>

<i><%= link_to "Cancel", subject_path(@subject) %></i>

    <% if policy(@subject).destroy? %>
        <i> | <%= link_to "Delete", subject_path, :data => { :confirm => "Are you sure you want to delete #{@subject.title}? This action cannot be undone." }, method: "delete", class: "delete" %></i>
    <% end %>
    <p id="flash_alert"> <%= subject_being_used_alert(@subject)%> </p>
 <br>

<%= render partial: "layouts/errors", locals: {object: @subject} %>

<% if @subject.errors.any? %>
    <%=link_to "OK", edit_subject_path(@subject)%>
<% else %>
    <%= render partial: "sections/add_standards", locals: {subject: @subject, new_standards: @new_standards} %>
<%end%>
