<h1>Add a New Subject</h1>

<%= render partial: "layouts/errors", locals: {object: @subject} %>

<% if @subject.errors.any? %>
    <%=link_to "OK", new_subject_path%>
<% else %>
    <%= form_for @subject do |f| %>
        <%= f.select :set_id, options_for_select(subjects_array), prompt: "Choose Subject" %> <br> <br>
        <%= render layout: "subjects/form", locals: {f: f} do %>
            <legend><b>Add Sections</b></legend>
        <% end %>
    <% end %>
<%end%>