<h2><%= @subject.title %></h2>
<i><%= link_to "Back to All Subjects", subjects_path %></i>
<ul>
<% @subject.sections.each do |section| %>
    <li><%= link_to section.title, section_path(section) %> </li> <br>
<% end %>
</ul>

<!-- make partial/layout for this nav links -->
-----
<h3>ADMIN</h3>
<p><%= link_to "Edit Subject Title", edit_subject_path(@subject) %></p>
<%= button_to "Add Section", new_subject_section_path(@subject), method: 'get' %>
-----
