<h2><%= @subject.title %></h2>
<p><%= link_to "Edit", edit_subject_path(@subject) %> / <%= link_to "Back to All Subjects", subjects_path %></p>

<ul>
<% @subject.sections.each do |section| %>
    <li><%= link_to section.title, section_path(section) %> &emsp;edit/delete</li><br>
<% end %>
</ul>

<!--
<% if @section.errors.any? %>
    <div id="error_explanation">
        <% @section.errors.full_messages.each do |msg| %>
            <p> <i><b><%= msg %></i></b> </p>
        <% end %>
    </div>
<% end %>
-->


<%= form_for [@subject, @section] do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>
