<h2><%= @subject.title %></h2>
<p><%= link_to "Edit", edit_subject_path(@subject) %> / <%= link_to "Back to All Subjects", subjects_path %></p>

<ul>
<% @subject.sections.each do |section| %>
    <li><%= section.title %> &emsp;edit/delete</li><br>
<% end %>
</ul>
<%= button_to "Add Section", new_subject_section_path(@subject), method: 'get' %>