{{!-- <div id="app-container" class="column"> --}}
{{#studentSubject}}

  <h2>{{title}}</h2>

  <p class="page-links">
    <a href="/student_subjects">Back to All Subjects</a> 
    | <a href="/student_subjects/{{id}}/student_standards">View Standards by Progress Level</a>
  </p>

  <ul>
    {{#each subject.sections}}
    <li><a href="/student_subjects/{{id}}/sections/{{this.id}}">{{this.title}}</a> </li> <br>
    {{/each}}
  </ul>
  
{{/studentSubject}}

{{!-- </div> --}}