<h2>Edit Standard</h2>

<i><%= link_to "Cancel", subject_path(@subject) %></i>
<% if policy(@standard).destroy? %>
    <i> | <%= link_to "Delete", standard_path, :data => { :confirm => "Are you sure you want to delete this standard? This action cannot be undone." } }, method: "delete", class: "delete" %></i>
<% end %>
<%= render partial: "layouts/errors", locals: {object: @standard} %>
<br> <br>
<%= form_for @standard do |f| %>
    <%= f.label :dot_notation, "Number:" %>
    <%= f.text_field :dot_notation %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label :section_id, "Change Section" %>
    <%= f.collection_select(:section_id, @subject.sections, :id, :title) %> <br>
    <%= f.submit %>
<% end %>