<h2>Edit Standard</h2>
<%= render partial: "layouts/errors", locals: {object: @standard} %>

<%= form_for @standard do |f| %>
    <%= f.label :dot_notation, "Number:" %>
    <%= f.text_field :dot_notation %> <br>
    <%= f.text_area :description %> <br>
    <%= f.submit %>
<% end %>
<br>
<%= button_to "Delete standard", standard_path(@standard), method: 'delete' %>
<%= link_to "Cancel", subject_path(@standard.subject) %>