<h2>Edit <%= section_title(@standard) %> Standard</h2>

<%= render layout: "shared/errors", locals: {object: @standard, path: edit_subject_standard_path(@standard.subject, @standard) } do %>
    <i><%= link_to "Cancel", subject_path(@subject) %></i>
    <% if policy(@standard).destroy? %>
        <i> | <%= link_to "Delete", standard_path, :data => { :confirm => "Are you sure you want to delete this standard? This action cannot be undone." }, method: "delete", class: "delete" %></i>
    <% end %>

    <br> <br>

    <%= render partial: "form", locals: {standard: @standard, subject: @subject} %>
        
<% end %>