<%= form_tag ('/standards'), method: "get" do %>
    <%= select_tag "subjects", options_from_collection_for_select(@subjects, "id", "title"), prompt: "Display All" %>
    <%= submit_tag "Filter" %>
<% end %>
<br>

<table>
    <thead>
        <tr>
            <th>Standard</th>
            <th>Subject</th>
            <th>Section</th>
        </tr>
    </thead>
    <tbody>
        <% @standards.each do |s| %>
        <tr>
            <td><%= s.dot_notation %> <%= s.description %></td>
            <td><%= subject_title(s) %></td>
            <td> <%= section_title(s) %> </td>
        </tr>
        <% end %>
    </tbody>
</table>