<h1>Add Standards to <%=@subject.title%></h1>
<%= form_tag standards_path %>
    <%= hidden_field_tag 'subject_id', @subject.id %>
    <% @standards_array.each do |standard| %>
        <%= label_tag 'standard[dot_notation]', "Notation" %>
        <%= text_field_tag 'standard[dot_notation]' %> <br>
        <%= label_tag "Choose Section" %>
        <%= select_tag 'standard[section]', options_from_collection_for_select(@sections, "id", "title") %> <br>
        <%= label_tag 'standard[description]', "Description:" %> <br>
        <%= text_area_tag 'standard[description]', standard %> <br>
         <br>
    <% end %>
<%= submit_tag "Add These Standards"%>
     

<%#= form_tag ('/standards') do %>
    <%#= select_tag "subjects", options_from_collection_for_select(@subjects, "set_id", "title"), include_blank: true %>
    <%#= submit_tag "Choose Subject"%>
<%# end %>