<%= image_tag "logo.png", :class => "logo" %>
<nav class="navbar">
    <% if current_user %>
        <%= navbar_options(current_user) %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
        <p>You are a <%= current_user.role %> signed in as <b><%= current_user.email %></b>.</p>
        
    <% end %>
</nav>