<div class="container">
    <%= image_tag "logo.png", :class=> "logo"%>
    <nav class="main-nav">
        <% if current_user %>
            <ul>
            <% navbar_array(current_user).each do |link| %>
                <li class="nav-link"><%= link %></li>
            <% end %>
                <li class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <li class="nav-right">You are signed in as <%= current_user.email %> (<%= current_user.role %>).</li>
            </ul> 
        <% end %>
    </nav>
</div>
