<nav class="">
    <h3><%= link_to "Progress Tracker", root_path %></h3>
    <% if !current_user %>
        <%= link_to "Sign up", new_user_registration_path %> / <%= link_to "sign in", new_user_session_path %>
    <% else %>
        Hi, <%= current_user.email %>!
        <br>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
        <br>
    <% end %>
</nav>